

<div class="jumbotron">
    <h2>Happy Hour</h2>
    <p>Anytime + Anywhere ... Find you the best Happy Hour Deals around you</p>
</div>
    <% if logged_in? %>
    <h2>List of Bars</h2>
       <ul>
        <% @bars.each do |bar| %>
          <div class="barlist">
        <p><h3><%= bar.bar_name %></h3></p>
        <p><%= image_tag(bar.image_url) %></p>
        <p><strong>Location : <%= bar.location %></strong></p>
        <p><strong>Zip Code : <%= bar.zip %></strong></p>
        <p><strong>Happy Hour Day(s) : <%= bar.day %></strong></p>
        <p><strong>Happy Hour Timings : <%= bar.time %></strong></p>
        <p><strong>Summary : <%= bar.description %></strong></p>
        <% bar.offers.each do |offer| %>
        <div class="barlist">
          <p><strong>Item : <%= offer.item %></strong></p>
          <p><strong>Price : $<%= offer.price %></strong></p>
          <p><strong>Details : <%= offer.description %></strong></p>
          <p><%= image_tag(offer.image_url(:thumb)) %></p>
        </div>
        <% end %>
          </div>
        <% end %>
      </ul>
    <% else %>
    <p> Welcome to Happy Hours </p>
    <% end %>
